@import  './typography'
@import  './hljs'

body
  margin 0
  background-size 300px
  background-color white
  background-image url(../old_wall.png)
  background-attachment fixed

vbox
  padding 25px
  text-align center

.logo
  max-width 100px

@media screen and (min-width: 321px)
  .logo
    max-width 200px
