<page>
  <vbox align="center">
    <div class="hero">
      {{inline-svg "static" class="logo"}}
      <h1>Ember CLI Static Site</h1>
      <p class="h4">Static site generator using Ember CLI and FastBoot.</p>
      <p>For more info visit <a href="https://github.com/robwebdev/ember-cli-static-site">GitHub</a> or take a look at <a href="https://github.com/robwebdev/fastboot-website">this fork of the FastBoot website</a>, converted to a static site using this addon.</p>
      <p>
        <a href="https://github.com/robwebdev/ember-cli-static-site">{{fa-icon "github" size="4x"}}</a>
      </p>
    </div>
  </vbox>
</page>
