<page>
  <vbox fill align="center" justify="center">
    <h1>Ember CLI Static Site</h1>
    <p>Build static websites using Ember CLI.<br>More coming soon.</p>
    <p>
      <a href="https://github.com/robwebdev/ember-cli-static-site">{{fa-icon "github" size="4x"}}</a>
    </p>
  </vbox>
</page>
