<page>
  <vbox fill align="center" justify="center">
    <h1>Ember CLI Static Site</h1>
    <p class="h4">Build static websites using Ember CLI and FastBoot.</p>
    <p>Checkout <a href="https://github.com/robwebdev/fastboot-website">this fork of the FastBoot website</a>, converted to a static site using this addon.</p>
    <p>
      <a href="https://github.com/robwebdev/ember-cli-static-site">{{fa-icon "github" size="4x"}}</a>
    </p>
  </vbox>
</page>
